<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Asistencias QR</name>
    <description>
        Proyecto escolar de asistencia con códigos QR.
    </description>
    <author>Jorge Bañuelos Atonal</author>
    <content src="index.html" />
    <access origin="https://*.googleapis.com" />
    <access origin="https://*.gstatic.com" />
    <access origin="https://*.firebaseio.com" />
    <access origin="https://*.firebaseapp.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <hook type="after_prepare" src="scripts/after_prepare.js" />
</widget>
